@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --jet-black: #2f2d2e;
  --yellow-green: #99c24d;
  --charcoal: #2e4057;
  --blue: #048ba8;
  --orange: #f18f01;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ++++++++ Navbar +++++++++++++++++ */

.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* +++++++ LANDING PAGE ++++++++++++++++++ */

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--charcoal);
  color: aliceblue;
  padding: 2.5em 0;
}

.product-features {
  background-color: #fff;
  color: var(--jet-black);
}

.product-features h3 {
  background-color: var(--orange);
  padding: 1em 1em 3em;
}

.features {
  height: 350px;
}

.card {
  width: 300px;
  margin-top: -6rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-image {
  background-color: var(--orange);
  border-radius: 50%;
  width: 3rem;
  height: 4rem;
}

.card-footer > small {
  border-bottom: 1px dotted var(--charcoal);
}

.landing > button {
  width: 200px;
}

/* ++++++++++ LOGIN FORM +++++++++++++++ */
.login-form {
  background-color: #fff;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.form-floating > input:focus {
  box-shadow: none;
}

.userIdentity > i {
  margin-bottom: -5px;
}

.details-view {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 45em;
  overflow: auto;
}

.details-view > table {
  overflow-y: auto;
}

.details-view table thead th {
  position: sticky;
  top: 0;
}

.details-view thead tr th {
  background-color: #108000;
  color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--jet-black);
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: var(--orange);
}
