* {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18em 0;
}

.landing > button {
    width: 200px;
}

.userAction {
    width: 100px;
}

.userIdentity > i {
    margin-bottom: -5px;
}

.search-and-filter td {
    width: 25%;
}

.details-view {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.details-view thead tr th {
    background-color: #108000;
    color: white;
}