* {
    font-family: 'Poppins', sans-serif;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18em 0;
}

.landing > button {
    width: 200px;
}

.logout > i {
    cursor: pointer;
    transition: ease-in-out;
}

.logout > i:hover {
    color: #dc3545;
}